@import './vars';
@import './icons-extra';

@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gupiao-copy:before { content: "\e600"; }
.icon-message:before { content: "\e60d"; }
.icon-news:before { content: "\e634"; }

ul,ol{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}

.mui-bar-tab{
	.mui-tab-item{
		&.mui-active{
			color: #f85959;
		}
	}
}
