<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>彩票荐号</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>

<body>
    <div id="app">
        <header class="mui-bar mui-bar-nav"><a href="javascript:;" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
            <h1 class="mui-title">关于我们</h1></header>
        <div class="mui-page-content">
            <h2>关于我们</h2>
            <section>
                1. 特别提示 <br>    
                1.1<br>
                微博平台同意按照本协议的规定及其不时发布的操作规则向用户提供微博服务，为获得微博服务，微博服务使用人（以下称"用户"）需在认真阅读及独立思考的基础上认可、同意本协议的全部条款（特别是以加粗方式提示用户注意的条款）并按照页面上的提示完成全部的注册程序。用户在进行注册程序过程中点击"同意" 按钮（或实际使用微博服务）即表示用户完全接受本服务协议及《新浪网络服务使用协议》、《微博社区公约》、《微博商业行为规范办法》、《微博举报投诉操作细则》及微博平台公示的各项规则、规范。<br><br>

                1.2<br>
                用户注册成功后，微博平台将为用户基于使用微博服务的客观需要而在申请、注册微博服务时，按照注册要求提供的帐号开通微博服务，用户有权在微博平台为其开通并同意向其提供服务的基础上使用微博服务。同时，用户同意：<br><br>

                1.2.1 用户应妥善保管微博帐号及密码，未经微博平台同意，用户不得擅自买卖、转让、出租任何微博帐号或微博昵称。<br><br>

                1.2.2 用户使用微博服务过程中，须对自身使用微博服务的行为，对任何由用户通过微博服务发布、公开的信息，及对由此产生的任何后果承担全部责任。<br><br>

                1.2.3 用户提交、发布或显示的信息将对其他微博服务用户及第三方服务及网站可见(用户可通过设置功能自行控制、把握可查阅其信息的帐号类型)。<br><br>

                1.3
                未经微博平台事先书面许可，用户不得自行授权任何第三方使用微博内容（微博内容即指用户在微博上已发布的信息，例如文字、图片、视频、音频等），包括但不限于自行授权任何第三方发表、复制、转载、更改、引用、链接、下载、同步或以其他方式使用部分或全部微博内容等。
            </section>
        </div>
    </div>
</body>

</html>