<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>我的购买</title>
</head>

<body ontouchmove="event.preventDefault();">
    <div id="app">
    <header class="mui-bar mui-bar-nav"><a href="javascript:;" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">我的购买</h1>
    </header>
    <section class="tabs">
        <ul>
            <li v-bind:class="cur=='expert'?'active':''">专家预测号</li>
            <li v-bind:class="cur=='guess'?'active':''">字诗图解码</li>
        </ul>
    </section>
    <div class="mui-slider" id="slider1">
        <div class="mui-slider-group">
            <div class="mui-slider-item">
                <div class="mui-scroll-wrapper mui-scroll-wrapper-segmented">
                    <div class="mui-scroll">
                        <ul>
                            <li class="mui-table-view-cell" v-for="li in expert.list">
                                <div>时间<p>{{li.createdate}}</p></div>
                                <div>专家<p>{{li.expertname}}</p></div>
                                <div>玩法<p>{{li.lotterytypename}}  {{li.forecasttypename}}</p></div>
                                <div>金额<em>￥{{li.expense}}</em></div>
                                <div>预测期数<p>第{{li.forecastperiod}}期</p></div>
                                <div>预测内容<p><span class="mball" v-if="ball" v-for="ball in li.lotteryFormat[0]">{{ball}}</span><span class="mball blue" v-if="ball" v-for="ball in li.lotteryFormat[1]">{{ball}}</span></p></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mui-slider-item">
                <div class="mui-scroll-wrapper mui-scroll-wrapper-segmented">
                    <div class="mui-scroll">
                        <ul>
                            <li class="mui-table-view-cell" v-for="li in guess.list">
                                <a href="guess-detail.html?id=337" class="mui-navigate-right">title337</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>