<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
</head>

<body ontouchmove="event.preventDefault();">
    <header class="mui-bar mui-bar-nav"><h1 class="mui-title">专家本期预测</h1><a class="mui-icon-extra mui-icon-extra-share mui-pull-right"></a></header>
    <section class="lottery-classify">
        <ul>
            <li class="active">双色球</li>
            <li>大乐透</li>
            <li>大乐透</li>
            <li>大乐透</li>
            <li>大乐透</li>
            <li>大乐透</li>
            <li>大乐透</li>
            <li>大乐透</li>
            <li>大乐透</li>
        </ul>
    </section>
    <div class="mui-slider home" id="slider1">
        <div class="mui-slider-group">
            <!--第一个内容区容器-->
            <div class="mui-slider-item">
                <div class="notice mui-ellipsis">
                    141期头奖1000万中3注，权威专家带您一起中！
                </div>
                <div class="mini-classify">
                    <ul>
                        <li class="active mui-col-xs-3"><span>后区定六</span></li><li class="mui-col-xs-3"><span>后区定六</span></li><li class="mui-col-xs-3"><span>后区定六</span></li><li class="mui-col-xs-3"><span>后区定六</span></li><li class="mui-col-xs-3"><span>后区定六</span></li><li class="mui-col-xs-3"><span>后区定六</span></li><li class="mui-col-xs-3"><span>后区定六</span></li><li class="mui-col-xs-3"><span>后区定六</span></li><li class="mui-col-xs-3"><span>后区定六</span></li><li class="mui-col-xs-3"><span>后区定六</span></li><li class="mui-col-xs-3"><span>后区定六</span></li><li class="mui-col-xs-3"><span>后区定六</span></li><li class="mui-col-xs-3"><span>后区定六</span></li><li class="mui-col-xs-3"><span>后区定六</span></li><li class="mui-col-xs-3"><span>后区定六</span></li><li class="mui-col-xs-3" node-act="combine"><span>收起 <i class="mui-icon mui-icon-arrowup"></i></span></li>
                    </ul>
                </div>
                <div class="scroll-container">
                    <div id="scroll1" class="mui-content mui-scroll-wrapper li-praised">
                        <div class="mui-scroll">
                            <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
                                <li class="mui-table-view-cell">
                                    <a href="/expert.html">
                                        <img class="mui-media-object mui-pull-left" src="../images/cbd.jpg">
                                        <div class="mui-media-body">
                                            <h3><span>第一天堂</span><small>专家</small><small>测7期中7期</small></h3>
                                            <p class='mui-ellipsis mui-col-xs-10'>蓝球定五：<span class="color-link">想中大奖，必看该专家的预测号码</span></p>
                                            <p class='mui-ellipsis'>烤炉模式的城，到黄昏，如同打翻的调色盘一般.</p>
                                        </div>
                                        <em class="iconfont icon-ioseye"></em>
                                    </a>
                                </li>
                                <li class="mui-table-view-cell">
                                    <a href="/expert.html">
                                        <img class="mui-media-object mui-pull-left" src="../images/cbd.jpg">
                                        <div class="mui-media-body">
                                            <h3><span>第一天堂</span><small>专家</small><small>测7期中7期</small></h3>
                                            <p class='mui-ellipsis mui-col-xs-10'>蓝球定五：<span class="color-link">想中大奖，必看该专家的预测号码</span></p>
                                            <p class='mui-ellipsis'>烤炉模式的城，到黄昏，如同打翻的调色盘一般.</p>
                                        </div>
                                        <em class="iconfont icon-ioseye"></em>
                                    </a>
                                </li>
                                <li class="mui-table-view-cell">
                                    <a href="/expert.html">
                                        <img class="mui-media-object mui-pull-left" src="../images/cbd.jpg">
                                        <div class="mui-media-body">
                                            <h3><span>第一天堂</span><small>专家</small><small>测7期中7期</small></h3>
                                            <p class='mui-ellipsis mui-col-xs-10'>蓝球定五：<span class="color-link">想中大奖，必看该专家的预测号码</span></p>
                                            <p class='mui-ellipsis'>烤炉模式的城，到黄昏，如同打翻的调色盘一般.</p>
                                        </div>
                                        <em class="iconfont icon-ioseye"></em>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="mui-bar mui-bar-tab">
            <a class="mui-tab-item" href="/">
                <span class="mui-icon mui-icon-extra mui-icon-extra-heart-filled"></span>
                <span class="mui-tab-label">上期测中</span>
            </a>
            <a class="mui-tab-item mui-active" href="/cur-predict.html">
                <span class="mui-icon iconfont icon-gupiao-copy"></span>
                <span class="mui-tab-label">本期预测</span>
            </a>
            <a class="mui-tab-item" href="#tabbar-with-contact">
                <span class="mui-icon iconfont icon-news"></span>
                <span class="mui-tab-label">彩票资讯</span>
            </a>
            <a class="mui-tab-item" href="#tabbar-with-map">
                <span class="mui-icon mui-icon-extra mui-icon-extra-people"></span>
                <span class="mui-tab-label">我的</span>
            </a>
        </nav>
</body>

</html>