<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hello MUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>

<body ontouchmove="event.preventDefault();">
    <header class="mui-bar mui-bar-nav"><a href="javascript:;" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">双色球字诗图谜</h1></header>
    <section class="mui-content">
        <h5>双色球17143期南宫道人预测谜</h5>
        <article>
            <p>金陵一少霸南街</p>
            <p>巴陵一夜雨来下</p>
            <p>故园三十二年前</p>
            <p>二十四桥明月夜</p>
        </article>
    </section>
</body>

</html>