<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>彩票荐号</title>
</head>

<body ontouchmove="event.preventDefault();">
    <div id="app">
    <header class="mui-bar mui-bar-nav">
        <!-- <a href="verb.html" class="mui-pull-left icon-text">
            <span class="mui-icon iconfont icon-paihangbang"></span>
            <span class="mui-tab-label">排行榜</span>
        </a> -->
        <h1 class="mui-title">专家上期预测中</h1>
        <a href="activities.html" class="mui-pull-right icon-text">
            <span class="mui-icon iconfont icon-huodong"></span>
            <span class="mui-tab-label">活动</span>
        </a>
    </header>
    <section class="lottery-classify mui-scroll-wrapper mui-slider-indicatorcode mui-segmented-control mui-segmented-control-inverted">
        <div class="mui-scroll">
            <ul>
                <li v-for="(item,index) in lotterys" v-bind:data-code="item.code" v-bind:data-index="index" v-bind:class="index==curLottery?'active':''" v-on:tap="changeLtype">
                    {{ item.name }}
                </li>
            </ul>
        </div>
    </section>
    <div class="mui-slider home" id="slider1">
        <div class="mui-slider-group">
            <!--第一个内容区容器-->
            <div class="mui-slider-item" v-for="group in lotterys">
                <div>
                    <div class="flex-auto">
                        <a v-bind:href='"history.html?code="+group.code+"&name="+group.name' class="res-board mui-navigate-right">
                            <h3>第{{group.periods}}期开奖结果</h3>
                            <ol>
                                <li class="ball" v-for="ball in group.lotteryFormat[0]">{{ball}}</li>
                                <li class="ball blue" v-for="ball in group.lotteryFormat[1]">{{ball}}</li>
                            </ol>
                        </a>
                        <div class="notice mui-ellipsis">
                            <span class="iconfont icon-message"></span>喜！141期头奖1000万中3注，权威专家带您一起中！
                        </div>
                        <div class="mini-classify">
                            <ul>
                                <li v-for="(item,index) in group.product" v-on:tap="changeForecast" v-bind:data-index="index" v-bind:class="group.product[group.curforecast].code==item.code?'active mui-col-xs-3':'mui-col-xs-3'"><span>{{item.name}}</span></li><li v-if="group.product.length>5" class="mui-col-xs-3" node-act="combine"><span>收起 <i class="mui-icon mui-icon-arrowup"></i></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="scroll-container">
                        <div>
                            <div class="mui-content mui-scroll-wrapper mui-scroll-wrapper-segmented li-praised">
                                <div class="mui-scroll">
                                    <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
                                        <li class="mui-table-view-cell" v-for="li in group.product[group.curforecast].list">
                                            <a v-bind:href='"expert.html?expertid="+li.expertsid'>
                                                <img class="mui-media-object mui-pull-left" v-bind:src="li.expertspic">
                                                <div class="mui-media-body">
                                                    <h3><span>{{li.expertsname}}</span><small>{{li.rank}}</small></h3>
                                                    <div class="balls">后区定六 <p class="mui-inline mui-col-xs-8 mui-col-ms-9"><span class="mball" v-if="ball" v-for="ball in li.lotteryFormat[0]">{{ball}}</span><span class="mball blue" v-if="ball" v-for="ball in li.lotteryFormat[1]">{{ball}}</span></p></div>
                                                    <p class='mui-ellipsis'>{{li.expertdesc}}</p>
                                                </div>
                                                <em>{{li.forecastresult}}</em>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="mui-bar mui-bar-tab">
            <a class="mui-tab-item mui-active" href="./">
                <span class="mui-icon mui-icon-extra mui-icon-extra-heart-filled"></span>
                <span class="mui-tab-label">上期测中</span>
            </a>
            <a class="mui-tab-item" href="cur-predict.html">
                <span class="mui-icon iconfont icon-gupiao-copy"></span>
                <span class="mui-tab-label">本期预测</span>
            </a>
            <a class="mui-tab-item" href="guess.html">
                <span class="mui-icon iconfont icon-yin-yang"></span>
                <span class="mui-tab-label">字诗图猜</span>
            </a>
            <a class="mui-tab-item" href="news.html">
                <span class="mui-icon iconfont icon-news"></span>
                <span class="mui-tab-label">彩票资讯</span>
            </a>
            <a class="mui-tab-item" href="my.html">
                <span class="mui-icon mui-icon-extra mui-icon-extra-people"></span>
                <span class="mui-tab-label">我的</span>
            </a>
        </nav>
    </div>
</body>

</html>