<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hello MUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>

<body>
    <div id="app">
        <header class="mui-bar mui-bar-nav"><a href="javascript:;" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
            <h1 class="mui-title">个人中心</h1></header>
        <div class="mui-page-content">
            <div class="profile">
                <div class="avatar">
                    <a href="login.html" v-if="!userid">
                        <img src="../images/avatar.png" width="100%" />
                        <span>登录/注册</span>
                    </a>
                    <dl v-else>
                        <dt><img v-bind:src="userpic" onerror="this.src='../images/avatar.png'" width="100%" /></dt>
                        <dd><p>{{nickname}}</p><p>金币余额：{{balance}}</p></dd>
                    </dl>
                </div>
                <ul>
                    <li><a href="recharge.html"><i class="iconfont icon-chongzhi"></i><span>充值</span></a></li>
                    <li><a href="vip.html"><i class="iconfont icon-vip"></i><span>VIP套餐</span></a></li>
                    <li v-on:click="checkin"><i class="iconfont icon-jinbi"></i><span>签到送金币</span></li>
                </ul>
            </div>
            <ul class="mui-table-view mui-table-view-chevron">
                <li class="mui-table-view-cell">
                    <a href="buylist.html" class="mui-navigate-right"><i class="iconfont icon-goumai"></i><span>我的购买</span></a>
                </li>
                <li class="mui-table-view-cell">
                    <a href="#notifications" class="mui-navigate-right"><i class="iconfont icon-chongzhi1"></i><span>充值明细</span></a>
                </li>
                <li class="mui-table-view-cell">
                    <a href="#notifications" class="mui-navigate-right"><i class="iconfont icon-taocan"></i><span>我的套餐</span></a>
                </li>
                <li class="mui-table-view-cell">
                    <a href="followed.html" class="mui-navigate-right"><i class="iconfont icon-guanzhu"></i><span>我的关注</span></a>
                </li>
                <!-- <li class="mui-table-view-cell">
                    <a href="#notifications" class="mui-navigate-right"><i class="iconfont icon-icon103"></i><span>版本更新</span></a>
                </li> -->
                <li class="mui-table-view-cell">
                    <a href="#notifications" class="mui-navigate-right"><i class="iconfont icon-fenxiang"></i><span>分享</span></a>
                </li>
                <li class="mui-table-view-cell">
                    <a href="#notifications" class="mui-navigate-right"><i class="iconfont icon-guanyu"></i><span>关于</span></a>
                </li>
            </ul>
            <div class="logout" v-if="userid">
    			<a class="mui-btn mui-btn-block" v-on:click="logout">退出登录</a>
    		</div>
        </div>
        <nav class="mui-bar mui-bar-tab">
            <a class="mui-tab-item" href="./">
                    <span class="mui-icon mui-icon-extra mui-icon-extra-heart-filled"></span>
                    <span class="mui-tab-label">上期测中</span>
                </a>
            <a class="mui-tab-item" href="cur-predict.html">
                    <span class="mui-icon iconfont icon-gupiao-copy"></span>
                    <span class="mui-tab-label">本期预测</span>
                </a>
            <a class="mui-tab-item" href="guess.html">
                    <span class="mui-icon iconfont icon-yin-yang"></span>
                    <span class="mui-tab-label">字诗图猜</span>
                </a>
            <a class="mui-tab-item" href="news.html">
                    <span class="mui-icon iconfont icon-news"></span>
                    <span class="mui-tab-label">彩票资讯</span>
                </a>
            <a class="mui-tab-item mui-active" href="my.html">
                    <span class="mui-icon mui-icon-extra mui-icon-extra-people"></span>
                    <span class="mui-tab-label">我的</span>
                </a>
        </nav>
    </div>
</body>

</html>