<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>彩票荐号</title>
</head>

<body ontouchmove="event.preventDefault();">
    <div id="app">
    <header class="mui-bar mui-bar-nav"><a href="javascript:;" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">我的套餐</h1>
    </header>
    <section class="tabs">
        <ul>
            <li v-bind:class="cur=='lottery'?'active':''">彩种套餐</li>
            <li v-bind:class="cur=='expert'?'active':''">专家包月</li>
        </ul>
    </section>
    <div class="mui-slider" id="slider1">
        <div class="mui-slider-group">
            <div class="mui-slider-item">
                <div class="mui-scroll-wrapper mui-scroll-wrapper-segmented">
                    <div class="mui-scroll">
                        <ul>
                            <li class="mui-table-view-cell" v-for="li in lottery.list">
                                <div>有效期<p>{{li.begtime}} 至 {{li.endtime}}</p></div>
                                <div>彩&nbsp;&nbsp;&nbsp;&nbsp;种<p>{{li.lotteryname}}</p></div>
                                <div>金&nbsp;&nbsp;&nbsp;&nbsp;额<em>￥{{li.amount}}</em></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mui-slider-item">
                <div class="mui-scroll-wrapper mui-scroll-wrapper-segmented">
                    <div class="mui-scroll">
                        <ul>
                            <li class="mui-table-view-cell" v-for="li in expert.list">
                                <div>有效期<p>{{li.begtime}} 至 {{li.endtime}}</p></div>
                                <div>专&nbsp;&nbsp;&nbsp;&nbsp;家<p>{{li.expertname}}</p></div>
                                <div>金&nbsp;&nbsp;&nbsp;&nbsp;额<em>￥{{li.amount}}</em></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>