<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>彩票荐号</title>
</head>

<body ontouchmove="event.preventDefault();">
    <div id="app">
        <header class="mui-bar mui-bar-nav"><a href="javascript:;" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
            <h1 class="mui-title">VIP预测套餐</h1>
            <a href="activities.html" class="mui-btn mui-btn-blue mui-btn-link mui-pull-right">
            说明
        </a>
        </header>
        <section class="tabs">
            <ul>
                <li v-bind:class="cur=='month'?'active':''">VIP月套餐</li>
                <li v-bind:class="cur=='week'?'active':''">VIP周套餐</li>
            </ul>
            <p>套餐最优惠，可查看任意专家的预测号，让您期期中大奖！</p>
        </section>
        <div class="mui-slider" id="slider1">
            <div class="mui-slider-group">
                <div class="mui-slider-item">
                    <div class="mui-scroll-wrapper mui-scroll-wrapper-segmented">
                        <div class="mui-scroll">
                            <ul>
                                <li class="mui-table-view-cell" v-for="(li,index) in month">
                                    <p>{{li.lotteryname}}</p>
                                    <p><em>30天套餐包</em></p>
                                    <p><span class="color-pink">￥{{li.showsubscribeprice}}</span><span>原价￥{{li.originalprice}}</span></p>
                                    <p><a href="javascript:;" v-on:tap="pay" v-bind:data-price="li.showsubscribeprice" v-bind:data-subscribeid="li.id" v-bind:data-index="index" class="mui-btn mui-btn-danger" v-if="li.usersubscribe == '0'">购买</a><a v-else class="mui-btn mui-btn-disabled" href="javascript:;">已购</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mui-slider-item">
                    <div class="mui-scroll-wrapper mui-scroll-wrapper-segmented">
                        <div class="mui-scroll">
                            <ul>
                                <li class="mui-table-view-cell" v-for="(li,index) in week">
                                    <p>{{li.lotteryname}}</p>
                                    <p><em>7天套餐包</em></p>
                                    <p><span class="color-pink">￥{{li.showsubscribeprice}}</span><span>原价￥{{li.originalprice}}</span></p>
                                    <p><a href="javascript:;" v-on:tap="pay" v-bind:data-price="li.showsubscribeprice" v-bind:data-subscribeid="li.id" v-bind:data-index="index" class="mui-btn mui-btn-danger" v-if="li.usersubscribe == '0'">购买</a><a v-else class="mui-btn mui-btn-disabled" href="javascript:;">已购</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="paying">
            <a href="javascript:;" v-on:tap="closePaylayer">关闭</a>
            <iframe src=""></iframe>
        </div>
    </div>
    
</body>

</html>